.our-story {
    padding: 100px 0 50px 0;
    text-align: center;

    @include max-w($screen-lg) {
        padding-top: 50px;
    }

    @include max-w(420px) {
        padding-top: 25px;
    }
    
    p {
        padding: 0 200px;

        @include max-w($screen-lg) {
            padding: 0 100px;
        }

        @include max-w(650px) {
            padding: 0 50px;
        }

        @include max-w($screen-sm) {
            padding: 0;
        }
    }
}

.meet-us {
    position: relative;
    min-height: 430px;
    background-position-x: center;

    @include max-w($screen-xl) {
        margin: 0 -10px;
    }
}