.single-event {
    p {
        overflow: initial;
        height: auto;

        @include max-w(420px) {
            line-height: 24px;
        }
    }

    .wp-caption {
        text-align: center;
        font-family: $font-family--GaramondPremrPro;
        font-style: italic;
        // margin: 30px 30px 15px 30px;
        margin: 0;
        margin: 30px 0 15px;
        width: 100%!important;

        @include max-w($screen-md) {
            margin: 15px 0;
        }

        .wp-caption-text {
            font-size: 16px;
            padding-top: 10px;
            font-family: "GaramondPremrPro", sans-serif;
            color: #666;
            line-height: 30px;
        }
    }

    &__photo-wrap {
        max-width: 560px;
        max-height: 235px;
        overflow: hidden;
        margin: 0 auto;
    }
}