.banner-wrapper {
    position: relative;

    &--home {
        min-height: 720px;
        background-position-x: center;
        background-size: cover;

        @include max-w($screen-md) {
            min-height: 370px;
        }

        @include max-w(420px) {
             min-height: 200px;
        }
    }

    &--404 {
        min-height: 370px;
    }

    &--wine {
        min-height: 370px;
        background-position: center 25%;

        @include max-w($screen-md) {
            background-size: cover;
        }
        
        @include max-w(420px) {
            min-height: 200px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $text-color;
            opacity: .6;
        }
    }

    &--media {
        min-height: 370px;
        background-position: center top;

        @include max-w($screen-md) {
           background-size: cover;
        }

        @include max-w(420px) {
            min-height: 200px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $text-color;
            opacity: .6;
        }
    }

    &--events {
        min-height: 370px;
        background-position: center top;

        @include max-w($screen-md) {
            background-size: cover;
         }

        @include max-w(420px) {
             min-height: 200px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $text-color;
            opacity: .6;
        }
    }

    &--contact {
        min-height: 370px;
        background-position: center top;

        @include max-w($screen-md) {
            background-size: cover;
         }

        @include max-w(420px) {
            min-height: 200px; 
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $text-color;
            opacity: .6;
        }
    }
}