// All elements Form
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
  font-family: $font-family--GaramondPremrPro;
  font-size: 20px;
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  border: 0 none;
  color: $text-color;
  background-color: transparent;
}
