.subscribe-form-wrapper {
    padding: 100px 0;

    @include max-w($screen-md) {
        padding: 100px 20px;
    }

    @include max-w(420px) {
         padding: 50px 0;
    }
    .wpcf7-form {
        max-width: 645px;
        position: relative;
        padding: 0 10px;
        margin: 0 auto;
    }
    .subscribe-form-content {
        display: flex;
        overflow: inherit;
        padding: 0 10px;

        &__input-wrap {
            display: flex;
            width: 100%;
        }
        
        &__btn-wrap {
            display: flex;
            position: relative;

            width: 40%;

            .ajax-loader {
               display: none;
            }
        }

        .btn {
            padding: 20px 55px;
            width: 100%;

            @include max-w(420px) {
                padding: 20px 15px;
            }

            &__icon {
                bottom: 20px;
            }
        } 
    }

    .wpcf7-validation-errors {
        display: none!important;
    }

    .wpcf7-not-valid-tip {
        position: absolute;
        font-family: $font-family--GaramondPremrPro;
        font-size: 18px;
        top: 65px;
        left: 0;
        width: 100%;
    }

    .subscribe-email {
        padding-right: 10px;
        display: flex;
        width: 100%;
        padding-right: 10px;
    }

    div.wpcf7-mail-sent-ok {
        position: absolute;
        margin: 0;
        top: 67px;
        left: 20px;
        padding: 0;
        border: none;
        color: $success-color;
        font-family: $font-family--GaramondPremrPro;
        font-size: 18px;
    }
}


