.insta-photo-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @include max-w(768px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    &__item {
        width: 100%;
        max-width: 367px;
        overflow: hidden;
        margin-right: 10px;
        position: relative;

        @include max-w(768px) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}