.social-list {
    display: flex;
    justify-content: center;

    &__item {
        padding-right: 10px;

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        color: $text-color;
        font-size: 20px;

        &:hover {
            color: $secondary-color;
        }
    }
}